matplotlib==3.3.2
jupyter==1.0.0
imageio==2.17.0
sklearn==1.0.2
tqdm==4.64.0
nibabel==3.2.2
scipy==1.8.0
boto3==1.21.46
nitime==0.9
nilearn==0.9.1
numpy==1.22.3
scipy==1.8.0
re==2.2.1
pickle==4.0
pandas==0.25.1

