[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
jupyter = "*"
imageio = "*"
scikit-learn = "*"
tqdm = "*"
nibabel = "*"
scipy = "*"
boto3 = "*"
nitime = "*"
nilearn = "*"
streamlit = "*"
importlib-resources = {version = "*", markers = "python_version >= '3.7'"}
[dev-packages]

[requires]
python_version = "3.6"
